*{
    margin: 0;
    padding: 0;
}
.top{
    background-color: #030712cc;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
}
.inner-left{
    width: 163px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-left img{
    width: 123px;
    height: 30px;
}
.inner-right{
    width: 171px;
    height: 59px;
    background-color: rgba(14, 13, 13, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-right a{
    text-decoration: none;
    color: #dddee0cc;
}
.right{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right div{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-left: 1px solid #b3b1b1cc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #b3b1b1cc;
}
#cart-logo{
    background-color: lawngreen;
}
.right-options :hover{
    color: white;
}
#heart :hover{
    color: red;
}
#cart-logo:hover{
    background-color: rgba(14, 13, 13, 0.836) ;
}

header{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
nav{
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
}
#logo-icon{
    font-size: 24px;
    color: rgb(199, 101, 142);
}
.icone-div{
    height: 64px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.links{
    width: 400px;
    height: 64px;
}

.links > ul {
    width: 370px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
}
.links a:hover{
    color: #C026D3;
}
h1{
    color: azure;
    text-decoration: underline  sandybrown;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: azure;
}
.right-options{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: azure;
}
.right-options i{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-options i:hover{
    
    background-color: #968b8a5e;
    border-radius: 5px;

}
.hero_section{
    background-image: url('../assets/background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg_color{
    background: linear-gradient(90deg, #214061e0, #4d4b4527);
    padding: 80px 80px 0px 80px;
}
.bg_color > .bg_color-inner{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h4{
    width: 250px ;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.596);
    color: azure;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading{
    width: 420px;
    font-size: 64px;
    text-decoration: none;

}
strong{
    color: #e879f9;
}
.main-description{
    width: 450px;
    font-size: 18px;
    color: white;
}
.buttons{
    display: flex;
    gap: 15px;
}
button{
    width: 215px;
    height: 60px;
    background-color: #C026D3;
    border: none;
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 10px #C026D3 ;
}
.button2{
    width: 215px;
    height: 60px;
    background-color: #5f5f5f69;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px); 
    border: 2px solid azure;
    border-radius: 5px;
}
.review{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.reviews-left{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 25px; */
    margin-top: 25px;
    border-top: 1px solid #968B8A;
}
.reviews-left span{
    height: 50px;
    border-left: 1px solid #968B8A;
}
.stat-item{
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
}
.stat-item> h3{
    font-size: 30px;
    color: white;
}
.stat-item > p{
    font-size: 14px;
    color: rgb(155, 147, 147);
    
}


.quick-shop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.quick-shop-inner{
    width: 250px;
    height: 80px;
    background-color: #5f5f5f96;
    backdrop-filter: blur(10px);       /* blur effect */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.quick-logo{
    width: 48px;
    height: 48px;
    font-size: 48px;
}
.offer{
    font-size: 16px;
    color: white;
}
.offer-descption{
    font-size: 14px;
    color: rgb(155, 147, 147);
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #968B8A;
}

.scroll:hover{
    color: azure;
}
#down-angle{
    animation: float 1s ease-in-out infinite alternate;
}

@keyframes float{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-7px);
        color: white;
    }
}


.facilities{
    width: 100vw;
    height: 200px;
    background-color: #030712;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #968B8A;
}

.facilities-options{
    width: 233px;
    height: 108px;
    color: white;
    display: flex;
    gap: 10px;
}
.facilities-icon{
    width: 48px;
    height: 48px;
    font-size: 24px;
    color: #C026D3;
    background-color: #968b8a3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facilities-descriptions{
    width: 169px;
    height: 108px;
}
.facilities-h3{
    width: 169px;
    min-height: 24px;
}
.facilities-p{
    width: 169px;
    height: 80px;
    font-size: 14px;
    color: rgb(200, 207, 207);
}

.products{

    background-color: #030712;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.cards{
    width: 1100px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 25px;
}
.headings{
    padding-top: 80px;
    padding-bottom: 40px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headings-left h2{
    color: white;
    font-size: 36px;
}
.headings-left p{
    color: #968B8A;
}
.headings-right a{
    color: #C026D3;
    font-size: 16px;
    transition: all 0.3s ease;
}

#arrow-right{
    transition: transform 0.3s ease;
}
.headings-right:hover #arrow-right {
    transform: translateX(5px);
    color: #D4AF37;
}





/*Styling card*/
.card{
    width: 239px;
    height: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #C026D3; */
    /* flex: 0 0 25%; */
}


.image-container{
    width: 239px;
    height: 318px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.seller-detail{
   color: white;
   position: absolute;
   top: 15px;
   left: 15px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   z-index: 1;
}

.seller{
    width: 77px ;
    height: 25px;
    background-color: #FE9A00;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.discount{
    width: 77px ;
    height: 25px;
    background-color: #FB2C36;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}
#pic{
    width: 239px;
    height: 318px;
    border-radius: 10px;

    transition: transform 0.3s ease;
}
.products .card:nth-child(1):hover #pic{
  content: url("../assets/clothes1.1.jpg");
}

.image-container:hover #pic{
    transform: scale(1.1);
}
.card:hover .pic-add-to-cart{
    visibility: visible;
}
.pic-add-to-cart{
    width: 200px;
    height: 40px;
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    visibility: hidden;
}
.add-to-cart{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
}
.cart-like{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
}
.products-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-category{
    color: #968B8A;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.product-category i{
    color: #D4AF37;
}
.product-name{
    color: white;
    font-size: 24px;
}
.product-name :hover{
    color: #C026D3;
}

.price{
    display: flex;
    gap: 10px;
}
.price > span:first-child{
    color: white;
}
.price > span:nth-child(2){
    color: #968B8A;
    text-decoration: line-through;
}
.available-varieties{
    width: 100%;
}
.variety{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #968B8A;
    border-radius: 50%;

}


/* Shop by categories  */
.shop-by-category{
    width: 100vw;
    background-color: #101828;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

.shop-by-category-headings h2{
    font-size: 48px;
    color: white;
}
.shop-by-category-headings p{
    font-size: 16px;
    color: #968B8A;
}
.shop-by-category-items{
    width: calc(100vw - 100px);
    /* height: 200px; */
    /* background-color: #C026D3; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px  ;
}
.big-item{
    grid-row: span 2;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.big-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    
}
.bottom-color{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    
}
.item-qty{
    font-size: 14px;
    color: white;
}
.big-details{
    position: absolute;
    bottom: 30px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.big-item:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}
.big-item:hover .shop-now{
    visibility: visible;
    transition: all 0.5s ease-in;
}

.shop-now{
    visibility: hidden;
    color: white;
    transition: transform 1s ease-in-out;
    font-size: 18px;
}

.big-item:hover #arrow-right1{
    
    transform: translateX(10px);
    color: white;
}
.items-types{
    color: white;
    font-size: 20px;
}

.minor-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Section New Arival */
.new-arrival{
    
    background-color: #101828;
    padding-left: 80px;
    padding-bottom: 80px;
}
.seasonsale{
    box-sizing: border-box;
    background-color: #C026D3;
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seasoncards{
    width: 90%;
    
}
.season{
    width: 279px;
    height: 480px;
    background-color: #101828;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.time-limit{
    width:180px;
    height: 33px;
    background-color: #C550D4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 16px;
}
.time-limit p{
    color: white;
    font-size: 16px;
}
.season-right-headings{
    width: 177px;
    height: 48px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.season-headings{
    width: 90%;
}
.season-timer{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 40px;
    padding-top: 40px;
}
.onetime{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.onetime div{
    width: 48px;
    height: 48px;
    background-color: #AA49B4;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}


/* Customers review section */
.customers-reviews{
    width: 90vw;
    background-color: #030712 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    gap: 80px;
}

.customer-reviews-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.customer-reviews-heading > h2{
    color: white;
    font-size: 30px;
}
.customer-reviews-heading > p{
    color: #968B8A;
    font-size: 16px;
    
}
.customer-reviews-cards{
    display: flex;
    gap: 20px;
}
.review-card{
    box-sizing: border-box;
    width: 372px;
    height: 222px;
    background-color: #101828;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #968b8a60;
}
.stars{
    color: #D4AF37;
}
#customer-profile{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.reviewer-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviewer-details-left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.reviewer-details-right{
    width: 100px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #0F2A29;
    color: green;
    border-radius: 12px;
}
.security-partners{
    border-top: 1px solid #968b8a56;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 25px;
}
.reviewer-partner{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


/* First order Section */
.first-order{
    width: 100vw;
    height: 80vh;
    background:
    radial-gradient(circle at 10% 10%, rgba(255, 187, 0, 0.25), transparent 40%),
    radial-gradient(circle at 85% 70%, rgba(201, 29, 207, 0.35), transparent 40%),
    linear-gradient(90deg, #0b1220, #0a1930);
    overflow: hidden;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.first-order-left{
    width: 45%;
    height: 80%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.first-order-left> h2{
    color: white;
    font-size: 36px;
}
.first-order-left >p{
    color: white;
    font-size: 18px;
}
.input-button{
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input-button > input{
    height: 54px;
    width: 65%;
    font-size: 24px;
    border-radius: 5px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    border: 1px solid #968b8a57;

}
.condition{
    font-size: 18px;
    color: #968b8a63;
}
.input-button > button{
    width: 30%;
    height: 58px;
}


.first-order-right{
    width: 48%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    row-gap: 30px;
    column-gap: 30px;
  /* gap: 25px; */

}
.first-order-offers{
    /* width: 45%;
    height: 45%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #0307122f;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.first-order-offers > i{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.first-order-offers > h3{
    color: white;
}
.first-order-offers > p{
    font-size: 14px;
    color: #968b8abd;
}

/* News letter Section */
.newsletter{
    box-sizing: border-box;
    width: 100vw;
    height: 120px;
    background-color: #101828;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 80px;
    gap: 100px;
    border-bottom: 1px solid #968b8a3a;

}
.newsletter-left{
    color: white;
    width: 50%;
    font-size: 20px;
}
.newsletter-left > p{
    color: #968B8A;
    font-size: 18px;
}
body{
    background-color: #101828;
}

/* footer Styling */
footer{
    background-color: #101828;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social-details{
    width: 224px;
    height: 244px;
    color: #968B8A;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.social-icon-div{

    margin: 0;
}
.social-icons{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.footer-div-parent{
    display: flex;
    gap: 40px;
}
.footer-div{
    width: 224px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.footer-div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-div li{
    color: #968B8A;
    list-style: none;
}
.footer-div>li{
    color: #AA49B4;
}
.footer-div a{
    color: #968B8A;
}
.footer-div a:hover{
    color: #AA49B4;
}

/* reserve */
.reserve{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #101828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-top: 1px solid #968b8a52;
    color: #968B8A;
}
.terms-cards{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.terms{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.debitcards{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.terms>p:hover{
    color: white;
    font-size: 18px;
}
.debitcards > img{
    width: 40px;
    height: 30px;
    border-radius: 5px;
}
