*{
    margin: 0;
    padding: 0;
}
.top{
    background-color: #030712cc;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
}
.inner-left{
    width: 163px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-left img{
    width: 123px;
    height: 30px;
}
.inner-right{
    width: 171px;
    height: 59px;
    background-color: rgba(14, 13, 13, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-right a{
    text-decoration: none;
    color: #dddee0cc;
}
.right{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right div{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-left: 1px solid #b3b1b1cc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #b3b1b1cc;
}
#cart-logo{
    background-color: lawngreen;
}
.right-options :hover{
    color: white;
}
#heart :hover{
    color: red;
}
#cart-logo:hover{
    background-color: rgba(14, 13, 13, 0.836) ;
}

header{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
nav{
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
}
#logo-icon{
    font-size: 24px;
    color: rgb(199, 101, 142);
}
.icone-div{
    height: 64px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.links{
    width: 400px;
    height: 64px;
}

.links > ul {
    width: 370px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
}
h1{
    color: azure;
    text-decoration: underline  sandybrown;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: azure;
}
.right-options{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: azure;
}
.hero_section{
    background-image: url('../assets/background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg_color{
    background: linear-gradient(90deg, #214061e0, #4d4b4527);
    padding: 80px 80px 0px 80px;
}
.bg_color > .bg_color-inner{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h4{
    width: 250px ;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.596);
    color: azure;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading{
    width: 420px;
    font-size: 64px;
    text-decoration: none;

}
strong{
    color: #e879f9;
}
.main-description{
    width: 450px;
    font-size: 18px;
    color: white;
}
.buttons{
    display: flex;
    gap: 15px;
}
button{
    width: 215px;
    height: 60px;
    background-color: #C026D3;
    border: none;
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 10px #C026D3 ;
}
.button2{
    width: 215px;
    height: 60px;
    background-color: #5f5f5f69;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px); 
    border: 2px solid azure;
    border-radius: 5px;
}
.review{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.reviews-left{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 25px; */
    margin-top: 25px;
    border-top: 1px solid #968B8A;
}
.reviews-left span{
    height: 50px;
    border-left: 1px solid #968B8A;
}
.stat-item{
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
}
.stat-item> h3{
    font-size: 30px;
    color: white;
}
.stat-item > p{
    font-size: 14px;
    color: rgb(155, 147, 147);
    
}


.quick-shop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.quick-shop-inner{
    width: 250px;
    height: 80px;
    background-color: #5f5f5f96;
    backdrop-filter: blur(10px);       /* blur effect */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.quick-logo{
    width: 48px;
    height: 48px;
    font-size: 48px;
}
.offer{
    font-size: 16px;
    color: white;
}
.offer-descption{
    font-size: 14px;
    color: rgb(155, 147, 147);
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #968B8A;
}

.scroll:hover{
    color: azure;
}
#down-angle{
    animation: float 1s ease-in-out infinite alternate;
}

@keyframes float{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
        color: white;
    }
}


.facilities{
    width: 100vw;
    height: 200px;
    background-color: #030712;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #968B8A;
}

.facilities-options{
    width: 233px;
    height: 108px;
    color: white;
    display: flex;
    gap: 10px;
}
.facilities-icon{
    width: 48px;
    height: 48px;
    font-size: 24px;
    color: #C026D3;
    background-color: #968b8a3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facilities-descriptions{
    width: 169px;
    height: 108px;
}
.facilities-h3{
    width: 169px;
    min-height: 24px;
}
.facilities-p{
    width: 169px;
    height: 80px;
    font-size: 14px;
    color: rgb(200, 207, 207);
}