*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #030712cc;
    width: 100vw;
    height: 60px;
}
.navbar{
    width: 95%;
    height: 80px;
    display: flex;
}
.left{
    width: 30%;
    height: 80px;
    
}
.inner-left{
    width: 100px;
    height: 100px;
list-style: ;
}


