.top{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
}

.top-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

header{
   background-color: blueviolet;
   text-align: center;
   /* display: flex;
   justify-content: center; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_section{
    height: 100vh;
    background-image: url('./assests/photo-1441986300917-64674bd600d8.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_color{
    background-color: rgba(0, 0, 0, 0.635);
    height: 100%;
}