*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 80px;
    background-color: #030712;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 90%;


    display: flex;
    justify-content: space-between;

}
.image-container{
    width: 200px;
    height: 40px;
    background-size: cover;
}
.center{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.right{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Consultation{
    height: 40px;
    width: 160px;
    background-color: #a87a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
button{
    font-size: 1.4rem;
    background: transparent;
    border: none;
    color: white;
}
a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}